<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158745900-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-158745900-1');
    </script>

    <meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-token" content="3LO0hlICs5eGngKrqGy50ZgTXNbuRPJBjgZjtPum">

    
        <title>Anthony 2D3D-Live-101101021824306</title>

    <!-- Favicon and Touch Icons -->


<!-- Stylesheet -->

<!-- CSS | menuzord megamenu skins -->

<!-- CSS | Main style file -->

<!-- CSS | Preloader Styles -->

<!-- CSS | Custom Margin Padding Collection -->

<!-- CSS | Responsive media queries -->

<!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
<!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

<!-- Revolution Slider 5.x CSS settings -->

<!-- CSS | Theme Color -->

        <style>
        .Twod-header {
            background-color: blue;
            padding: 0.3rem;
            height: 75px;
        }
        .Twod-header h5{
            color: aliceblue;
            font-family: initial;
        }

        .Twod-header h3{
            color: aliceblue;
            text-align: center;
            font-family: initial;
            font-size: 1.5rem;
            padding-left: 15px;
        }

        .mobile td{
            font-weight: bold;
        }
        #moreview, #moreviewHideButton{
            display: none;
        }
    </style>


</head>
<body class="cnt-home">

    <div>

        <header id="header" class="header">


    <div class="header-nav">
    <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
        <div class="container">
            
            <nav id="menuzord" class="menuzord default menuzord-responsive">
              <h2>Anthony 2d</h2>
                <a href="https://t.me/anthony2dchannel" target="_self" >

                </a href>

        <div>
                
      <!-- Section: 2D 3D -->
      <section>
        <div class="container pb-50" id="dd">
          <div class="section-content">
            <div class="row">
                              <div class="col-md-12 mt-20">
                <h3 class="text-uppercase line-bottom-theme-colored-2 mt-0 line-height-1"><i class="fa fa-calendar mr-10"></i>2D <span class="text-theme-colored2">List</span></h3>
                  <div class="bg-theme-colored2-transparent-9 pb-40 position-relative pt-40 text-center text-white">


                      <p class="font-150 mb-0" id="animate">{{ twoDNumber }}</p>
                      <span class="p-10 position-absolute right-0 top-0 mt-xs-20 left-xs-0">Myanmar Date - <span>{{ date }} {{ time }}</span></span>
                      <span class="p-10 position-absolute left-0 bottom-0">Set - {{ twoDSet }}</span>
                      <span class="p-10 position-absolute right-0 bottom-0">Value - {{ twoDValue }}</span>

                  </div>


                  <div class="table-responsive hidden-xs hidden-sm">
                      <table class="table table-bordered table-responsive">
                          <thead>
                          <tr>
                              <th scope="col">Date</th>
                              <th scope="col">Time</th>
                              <th scope="col">Number</th>
                              <th scope="col">Set</th>
                              <th scope="col">Value</th>
                          </tr>
                          </thead>
                          <tbody>
                                                        <tr>
                                  <td>30/04/2024</td>
                                  <td class="text-center">04:31:00 PM</td>
                                                                          <td class="font-30 text-center text-danger"> <p v-if="twoDNumberFinal && twoDTime == '04:31 PM' && twoDDate == '30/04/2024'">{{ twoDNumberFinal }}</p><p v-else class="mb-0"> - - </p> </td>
                                      <td class="text-center"> <p v-if="twoDSetFinal && twoDTime == '04:31 PM' && twoDDate == '30/04/2024'">{{ twoDSetFinal }}</p><p v-else class="mb-0"> - - </p> </td>
                                      <td class="text-center"> <p v-if="twoDValueFinal && twoDTime == '04:31 PM' && twoDDate == '30/04/2024'">{{ twoDValueFinal }}</p><p v-else class="mb-0"> - - </p> </td>
                                                                  </tr>
                                                        <tr>
                                  <td>30/04/2024</td>
                                  <td class="text-center">12:01:00 PM</td>
                                                                          <td class="font-30 text-center text-danger">50</td>
                                      <td class="text-center">1370.35</td>
                                      <td class="text-center">20,940.16</td>
                                                                  </tr>
                                                                                  <tr>
                                                                                                </tr>
                             
                                                                </tr>
                                                        
                                                            </tbody>
                          </table>
                      </div>
                                              <div class="Twod-list boxshadow container mt-30 p-0">
                          <div class="Twod-header col-12">
                              <div class="col-xs-12">
                                  <h3>30/04/2024</h3>
                              </div>
                          </div>
                          <div class="Twod-header col-12">
                              <div class="col-xs-6">
                                  <h5 class="pull-right">Myanmar Time <br> 12:01:00 PM</h5>
                              </div>
                              <div class="col-xs-6">
                              
                              </div>
                          </div>
                            <table class="table mobile">
                              <thead>
                              <tr class="table-light">
                                  <th class="font-20 text-center">SET</th>
                                  <th class="font-20 text-center">Value</th>
                                  <th class="font-20 text-center">2D</th>
                              </tr>
                              </thead>
                              <tbody>
                                                                                <td class="font-20 text-center">
                                                                                                1370.35
                                                                                        </td>
                                          <td class="font-20 text-center">
                                                                                                20,940.16
                                                                                        </td>
                                          <td class="font-30 text-center text-danger">
                                                                                                50
                                                                                        </td>
                                                                    </tbody>
                          </table>
                      </div>
                      
                      <div>
                          <button type="submit" class="btn btn-block btn-success mt-5 submmit" id="moreviewButton">More View</button>
                      </div>


                      <div id="moreview">
                                                        <div class="Twod-list boxshadow container mt-30 p-0">
                                  <div class="Twod-header col-12">
                                      <div class="col-xs-12">
                                          <h3>29/04/2024</h3>
                                      </div>
                                  </div>
                                  <div class="Twod-header col-12">
                                      <div class="col-xs-6">
                                          <h5 class="pull-right">Myanmar Time <br> 04:31:00 PM</h5>
                                      </div>
                                    
                                  </div>
                                  <table class="table mobile">
                                      <thead>
                                          <tr class="table-light">
                                              <th class="font-20 text-center">SET</th>
                                              <th class="font-20 text-center">Value</th>
                                              <th class="font-20 text-center">2D</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                                                                    <td class="font-20 text-center">1361.97</td>
                                            <td class="font-20 text-center">36,381.38</td>
                                            <td class="font-30 text-center text-danger">71</td>
                                                                              </tbody>
                                  </table>
                           
                                      </div>
                                  </div>
                                  <div class="Twod-header col-12">
                                      <div class="col-xs-6">
                                          <h5 class="pull-right">Myanmar Time <br> 12:01:00 PM</h5>
                                      </div>
                                      <div class="col-xs-6">
                                         
                                      </div>
                                  </div>
                                  <table class="table mobile">
                                      <thead>
                                          <tr class="table-light">
                                              <th class="font-20 text-center">SET</th>
                                              <th class="font-20 text-center">Value</th>
                                              <th class="font-20 text-center">2D</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                                                                    <td class="font-20 text-center">1358.54</td>
                                            <td class="font-20 text-center">20,167.12</td>
                                            <td class="font-30 text-center text-danger">47</td>
                                                                              </tbody>
                                  </table>
                              </div>
                                                        <div class="Twod-list boxshadow container mt-30 p-0">
                                 
                </div>
            </div>
                                                    <article class="post media-post clearfix pb-0 mb-10">
                                
                                            </div>
                </div>
            
            


    </div>

 
<!-- JS | jquery plugin collection for this theme -->

<!-- Revolution Slider 5.x SCRIPTS -->



<!-- SLIDER REVOLUTION 5.0 EXTENSIONS
      (Load Extensions only on Local File Systems !
       The following part can be removed on Server for On Demand Loading) -->

        <script>
            window.laravel_echo_port='6006';
    </script>
   
    <!-- END REVOLUTION SLIDER -->
    <script type="text/javascript">
        const time = Math.random() + .5; // I’m adding .5 here so the flicker isn’t too obnoxious


        const animate = document.querySelector('#animate');
        animate.style.setProperty('--animation-time', time +'s');

        $(document).ready(function() {
            $(".submmit").click(function(e) {
                e.preventDefault();
                document.getElementById('moreviewButton').style.display = 'none';
                document.getElementById('moreview').style.display = 'block';
                document.getElementById('moreviewHideButton').style.display = 'block';
            });
            $(".submmitless").click(function(e) {
                e.preventDefault();
                document.getElementById('moreview').style.display = 'none';
                document.getElementById('moreviewHideButton').style.display = 'none';
                document.getElementById('moreviewButton').style.display = 'block';
            });



            var vm = new Vue({
                el: "#dd",

                data: {
                    twoDNumber : '??',
                    twoDNumberFinal : '',
                    twoDSet : '??',
                    twoDSetFinal : '',
                    twoDValue : '??',
                    twoDValueFinal : '',
                    twoDDate : '',
                    twoDTime : '',
                    time: '',
                    date: '',
                },

                ready: function () {
                    // this.get2D();
                    // setInterval(this.get2D, 10000);
                    window.Echo.channel('user-channel')
                        .listen('.UserEvent', (data) => {
                            vm.twoDNumber = data.number
                            vm.twoDNumberFinal = data.number_final
                            vm.twoDSet = data.set
                            vm.twoDSetFinal = data.set_final
                            vm.twoDValue = data.value
                            vm.twoDValueFinal = data.value_final
                            vm.twoDDate = data.date
                            vm.twoDTime = data.time
                        });
                },

                methods: {

                    // get2D : function () {
                    //     axios.post('/2d/data/').then((response) => {
                    //     });
                    // },

                }

            });
            var week = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'];
            var timerID = setInterval(updateTime, 1000);
            updateTime();
            function updateTime() {
                var yangon = new Date().toLocaleString("mm-MM", {timeZone: "Asia/Yangon"});
                var cd = new Date(yangon);
                vm.time = zeroPadding(cd.getHours(), 2) + ':' + zeroPadding(cd.getMinutes(), 2) + ':' + zeroPadding(cd.getSeconds(), 2);
                vm.date = zeroPadding(cd.getFullYear(), 4) + '-' + zeroPadding(cd.getMonth()+1, 2) + '-' + zeroPadding(cd.getDate(), 2);
            };

            function zeroPadding(num, digit) {
                var zero = '';
                for(var i = 0; i < digit; i++) {
                    zero += '0';
                }
                return (zero + num).slice(-digit);
            }



        });



    </script>
    <!-- END REVOLUTION SLIDER -->

</body>
</html>
